.ControlFechaSuperior {
  display: flex;
}

.ControlFechaSuperior__accion {
  width: 2.3em;
  height: 2.3em;
  margin-right: .4em;
  align-self: center;
  color: #26C6DA;
  cursor: pointer;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 .1em .2em rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 100%;
  font-size: .9em;
  transition: background-color ease-in-out .15s;
  outline: none;
}

.ControlFechaSuperior__accion:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.05);
}

.ControlFechaSuperior__fecha {
  user-select: none;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  min-width: 20em;
  justify-content: center;
  pointer-events: none;
}

.ControlFechaSuperior__fecha--retrocede1 {
  animation: retrocede-fecha1 .1s ease-in-out both;
}

.ControlFechaSuperior__fecha--retrocede2 {
  animation: retrocede-fecha2 .1s ease-in-out both;
}

.ControlFechaSuperior__fecha--avanza1 {
  animation: avanza-fecha1 .1s ease-in-out both;
}

.ControlFechaSuperior__fecha--avanza2 {
  animation: avanza-fecha2 .1s ease-in-out both;
}

.ControlFechaSuperior__fecha::first-letter {
  text-transform: uppercase;
}

@keyframes avanza-fecha1 {
  0% {
    transform: translateX(3em);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes avanza-fecha2 {
  0% {
    transform: translateX(3em);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes retrocede-fecha1 {
  0% {
    transform: translateX(-3em);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes retrocede-fecha2 {
  0% {
    transform: translateX(-3em);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (orientation: portrait) {
  .ControlFechaSuperior {
    display: none;
  }
}