.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}

.App__contenedor {
  display: flex;
  flex-direction: row;
}

.App__mapa {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App__contenedor_central {
  display: flex;
  flex: 1;
}

@media(orientation: portrait) {
  .App__contenedor {
    flex-direction: column;
  }
  .App__mapa {
    flex-direction: column-reverse;
  }
}