.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 87px);
}

.App__contenedor {
  display: flex;
  flex-direction: row;
}

.App__mapa {
  flex: 1;
}

@media(orientation: portrait) {
  .App__contenedor {
    flex-direction: column;
  }
}