.FormularioSuscripcion {
  position: absolute;
  z-index: 4;
  display: flex;
  background-color: black;
  justify-content: center;
  right: 0;
}

.FormularioSuscripcion__contenedor {
  flex: 1;
  background-color: rgba(0, 0, 0, .5);
}

.FormularioSuscripcion__formulario {
  display: flex;
  flex-direction: column;
  color: white;
}