.Header {
  background: linear-gradient(#37474F, #34424a);
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .5px;
}