.Header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  height: 3em;
  z-index: 3;
}

.Header__titulo {
  min-width: 13em;
  padding-left: 1em;
  background-color: #37474F;
  border-right: 1px solid #2a373d;
  border-bottom: 1px solid #2a373d;
  height: 100%;
  align-items: center;
  display: none;
}

.Header__logo_bid {
  width: 4em;
  margin-right: .4em;
}

.Header__texto-titulo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .6em;
  letter-spacing: .5px;
}

.Header__barra {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(#37474F, #34424a);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.Header__acciones {
  display: flex;
}

.Header__relleno {
  flex: 1;
}

.Header__acciones_secundarias {
  font-size: 1.25em;
  display: flex;
  margin-right: .5em;
}

.Header__accion {
  width: 2.2em;
  color: #26C6DA;
  cursor: pointer;
  flex: 1;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1em;
  transition: background-color ease-in-out .15s;
  outline: none;
}

.Header__accion:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.Header__icono_accion {
  flex: 1;
}

.Header__fecha {
  user-select: none;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: .75em;
  display: flex;
  align-items: center;
}

.Header__fecha::first-letter {
  text-transform: uppercase;
}

@media (orientation: portrait) {
  .Header__titulo {
    width: 100%;
  }
  .Header__barra {
    display: none;
  }
}

@media (display-mode: fullscreen) {
  .Header__titulo {
    display: flex;
  }
}