.SeccionIzquierda {
  background-color: #263238;
  box-shadow: .1em 0px .1em rgba(0, 0, 0, .15);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em;
  min-width: 13em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: white;
  user-select: none;
}

.SeccionIzquierda__label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  margin-bottom: .5em;
}

.SeccionIzquierda__selector-pais {
  color: white;
}

.SeccionIzquierda .flag-select__btn {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.SeccionIzquierda .flag-select__options {
  background-color: #263238;
  border-color: #90A4AE;
}

.SeccionIzquierda .flag-select__option:hover {
  background-color: #455A64;
}

@media(max-width: 768px) {
  .SeccionIzquierda {
    height: 5em;
  }
}