.SeccionIzquierda {
  background-color: #263238;
  box-shadow: .1em 0px .1em rgba(0, 0, 0, .15);
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 13em;
  max-width: 13em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, .9);
  user-select: none;
}

.SeccionIzquierda__contenedor_campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5em;
}

.flag-select__btn:after {
  border-top-color: #26C6DA;
}

.SeccionIzquierda__label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  margin-bottom: .5em;
}

.SeccionIzquierda__links {
  display: grid;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  justify-items: stretch;
}

.SeccionIzquierda__link {
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
  padding: 1.25em 1.75em;
  font-size: .85em;
  letter-spacing: 1.5px;
  transition: all .15s ease-in-out;
  text-align: center;
}

.SeccionIzquierda__link:hover {
  background-color: rgba(255, 255, 255, .1);
}

.SeccionIzquierda__link--activo, .SeccionIzquierda__link--activo:hover {
  background-color: #35444C;
}

.SeccionIzquierda__selector-pais {
  color: rgba(255, 255, 255, .9);
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 .1em .35em rgba(0, 0, 0, .25);
  border-radius: .25em;
  border: 1px solid #26C6DA;
}

.SeccionIzquierda .flag-select__btn {
  color: rgba(255, 255, 255, .9);
  font-family: 'Source Sans Pro', sans-serif;
}

.SeccionIzquierda .flag-select__options {
  background-color: #263238;
  border-color: #90A4AE;
}

.SeccionIzquierda .flag-select__option:hover {
  background-color: #455A64;
}

.SeccionIzquierda__icono_link_externo {
  margin-left: .25em;
}

.SeccionIzquierda__stickers {
  margin: 1.5em;
}

.SeccionIzquierda__stickers_titulo {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, .7);
  font-size: .9em;
  margin-bottom: 1.5em;
  text-align: center;
}

.SeccionIzquierda__contenedor_stickers {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.5em;
  overflow: hidden;
  align-items: center;
  justify-items: center;
}

.SeccionIzquierda__sticker {
  height: 2.5em;
  filter: invert(100%) sepia() saturate(0);
  opacity: .8;
}

.SeccionIzquierda__sticker--ciae {
  height: 2.5em;
}

@media (orientation: portrait) {
  .SeccionIzquierda {
    align-items: center;
    max-width: 100%;
  }

  .SeccionIzquierda__contenedor_campo {
    padding: 1em 0em;
    align-items: center;
  }

  .SeccionIzquierda__inferior {
    display: none;
  }

  .SeccionIzquierda__links {
    display: none;
  }
}

.flag-select__option, .flag-select__btn, .flag-select  {
  outline: none;
  cursor: pointer;
}

.flag-select__options {
  border-color: #37474F;
}

.SeccionIzquierda__link--contacto {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, .7);
  font-size: .85em;
  letter-spacing: 1.5px;
  line-height: 1.6;
  text-align: center;
  margin-top: 1em;
  text-transform: uppercase;
}

.SeccionIzquierda__mail_contacto {
  text-transform: none;
}