.SelectorFecha {
  height: 2.5em;
  background-color: #37474F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.SelectorFecha__acciones {
  margin-right: 16px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 24px;
  grid-template-columns: auto auto;
}

.SelectorFecha__accion {
  color: #26C6DA;
  cursor: pointer;
}

.SelectorFecha__fecha_cercana {
  display: none;
}

@media(orientation: portrait) {
  .SelectorFecha {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .SelectorFecha__fecha_cercana {
    position: absolute;
    display: flex;
    margin-top: -3em;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
  }
}