.SelectorFecha {
  height: 2.5em;
  background: linear-gradient(#37474F, #34424a);
  color: white;
  display: flex;
  justify-content: center;
  padding-right: 16px;
}

.SelectorFecha__acciones {
  width: 4.5em;
  display: flex;
  margin-right: .75em;
}

.SelectorFecha__accion {
  color: #26C6DA;
  cursor: pointer;
  flex: 1;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1em;
  transition: background-color ease-in-out .15s;
  outline: none;
}

.SelectorFecha__accion:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.SelectorFecha__fecha_cercana {
  display: none;
}

@media(orientation: portrait) {
  .SelectorFecha {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .SelectorFecha__fecha_cercana {
    position: absolute;
    display: flex;
    margin-top: -3em;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
  }
}