.SelectorFecha {
  background: linear-gradient(#37474F, #34424a);
  color: rgba(255, 255, 255, .9);
  display: flex;
  justify-content: center;
  padding-right: 1em;
  flex-direction: column;
}

.SelectorFecha__contenedor_inferior {
  display: flex;
  height: 2.5em;
  width: 100%;
}

.SelectorFecha__acciones {
  width: 4.5em;
  display: flex;
  margin-right: .75em;
  height: 2.5em;
}

.SelectorFecha__accion {
  color: #26C6DA;
  cursor: pointer;
  flex: 1;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1em;
  transition: background-color ease-in-out .15s;
  outline: none;
}

.SelectorFecha__accion:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.SelectorFecha__fecha_cercana {
  display: none;
}

@media(orientation: portrait) {

  .SelectorFecha__fecha_cercana {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: .5em 0 .15em 0;
    align-items: center;
    justify-content: center;
    background-color: #263238;
  }

  .SelectorFecha {
    background: #263238;
    padding-right: 0;
  }

  .SelectorFecha input[type=range] {
    background-color: #263238;
    padding-right: 16px;
  }
}
  