.SelectorPais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top: 2.5em;
  z-index: 3;
}

.flag-select__btn:after {
  border-top-color: #26C6DA;
}

.SelectorPais__label {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  font-size: .8em;
  margin-bottom: .5em;
  color: rgba(255, 255, 255, .9);
}

.SelectorPais__selector-pais {
  color: rgba(255, 255, 255, .9);
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 .1em .35em rgba(0, 0, 0, .25);
  border-radius: .25em;
  border: 1px solid #26C6DA;
}

.SelectorPais .flag-select__btn {
  color: rgba(255, 255, 255, .9);
  font-family: 'Source Sans Pro', sans-serif;
}

.SelectorPais .flag-select__options {
  background-color: #263238;
  border-color: #90A4AE;
}

.SelectorPais .flag-select__option.has-label:hover {
  background-color: #616161;
}

.SelectorPais .flag-select__option:hover {
  background-color: #455A64;
}

.SelectorPais__icono_link_externo {
  margin-left: .25em;
}

@media (orientation: portrait) {
  .SelectorPais {
    display: none;
  }
}